/*  Solo de escritorio */
@media (min-width: 900px) {
  .navbar__li-categories:hover .navbar__dropdown {
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
}

/* 320px - 900px */
@media (max-width: 900px) {
  /* header */
  .navbar__menu {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 102px;
    left: 0;
    padding: 50px 0;
    width: 100%;
    z-index: 1002;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    background-color: var(--black-2);
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
    transform-origin: top;
  }
  .open-menu {
    transform: scaleY(100%);
    transition: all 0.3s ease-in-out;
  }

  .navbar__categories {
    gap: 30px;
  }
  .navbar__categories-a,
  .navbar__categories-i,
  .dropdown__link,
  .navbar__link {
    font-size: 1.5rem;
  }
  .navbar__link-icon {
    font-size: 2rem;
    color: var(--red);
  }
  .navbar__dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    width: 180px;
    z-index: 100;
    background-color: white;
    color: var(--black-2);
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
    transform-origin: top;
  }
  .navbar__dropdown-active {
    transform: scaleY(100%);
    transition: all 0.3s ease-in-out;
  }

  .dropdown__item {
    border-bottom: 1px solid black;
  }
  .dropdown__category {
    color: var(--black-2);
  }
  .navbar__categories-i {
    color: var(--red);
    font-size: 2rem;
    transform: rotate(0deg);
    transition: all 0.5s;
  }
  .navbar__categories-i-active {
    transform: rotate(180deg);
    transition: all 0.5s;
  }
  .navbar__div {
    gap: 20px;
  }
  .navbar__menu-label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    transform: scale(1);
  }

  .navbar__menu-label:hover {
    background-color: var(--red);
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 60%);
  }

  .navbar__menu-label-active {
    background-color: var(--red);
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 60%);
  }
  .cart__label {
    user-select: none;
    border: none;
  }
  .cart__label-icon,
  .whitelist__label-icon {
    font-size: 2rem;
  }

  /* main*/
  .window-close {
    right: 0;
    box-shadow: none;
  }

  /* Footer */
  .footer__container-top {
    justify-content: center;
  }
  .footer__container {
    justify-content: center;
    align-items: center;
    min-width: 120px;
  }
  .footer__follow {
    align-items: center;
    flex-direction: column;
  }
}

/* TABLET 481px - 768px */

@media (max-width: 768px) {
  /* Header */

  /* Register y login */
  .register__container, .login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .register, .login {
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 100%;
  }
  .hello h2, .welcome h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  .register__form, .login__form {
    padding: 10px;
  }
  .welcome, .hello {
    padding: 50px 30px;
  }
  


  /* main */
  .popular {
    height: fit-content;
    min-height: 0;
    width: 400px;
  }
  .popular__name {
    min-height: 0;
  }
  .popular__img {
    width: 50%;
  }
  .popular__description {
    min-height: 100px;
  }
  .popular__container {
    flex-direction: column;
  }
  .product__window {
    transform: none;
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 280px;
    max-width: 80%;
    max-height: 100vh;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .product__window::-webkit-scrollbar {
    display: none;
  }
  .product__window-container {
    overflow: scroll;
    flex-direction: column;
  }
  .window-close {
    right: 0;
  }
  /* Footer */
  .footer__container-top {
    flex-direction: column;
  }
  .footer__container-bottom {
    flex-direction: column;
    gap: 30px;
  }
  .footer__container {
    align-items: flex-start;
  }
  .footer__follow {
    flex-direction: row;
  }
}
/* MOBILE 340px - 480px */

@media (max-width: 480px) {

/* register y login  */

  .register__container, .login__container {
    margin: 0;
    border-radius: unset;
  }
  .login, .register {
      width: 100%;
      max-width: 100vw;
      padding: 30px 20px;
  }
  /*  Form  */    
  
  /* forget password */    
  .login__forget {
      flex-direction: column;
      gap: 20px;
  }

  .login__register {
      display: flex;
      flex-direction: column;
  }
  .register__box {
    width: 190px;
  }
  

  /* Header */
  .navbar {
    background-color: var(--red);
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
  .navbar__logo {
    object-fit: cover;
    width: 100%;
  }
  .navbar__menu-label {
    height: 30px;
    position: absolute;
    border: none;
    left: 15px;
    bottom: 20px;
    font-size: 2.5rem;
  }

  .cart__label {
    height: 30px;
    position: absolute;
    border: none;
    right: 15px;
    bottom: 20px;
    font-size: 2.5rem;
  }
  .cart__count{
    font-size: 1rem;
    background-color: var(--black-2);
  }
  .cart {
    max-width: 100%;
    margin: 0 auto;
  }
  .cart-name {
    max-width: 80%;
  }
  .cart-img {
    width: 100px;
  }
  .cart-trash {
    font-size: 1.5rem;
  }
  .whitelist__label {
    position: absolute;
    bottom: -75px;
    left: 15px;
    /* background-color: var(--red); */
  }
  .search-bar {
    padding: 4.5rem 0;
  }
  .header__container {
    padding: 25px;
  }
  .header__h1 {
    width: 100%;
  }
  .header__h1 span {
    font-size: 4rem;
    line-height: 4rem;
  }
  .header__p {
    width: 100%;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 300;
  }
  /* Main */
  .publicity {
    margin: 25px 0 0 0;
  }
  .publicity__container {
    margin: 25px 0 0 0;
  }
  .section__tittle {
    font-size: 1rem;
  }
  .populars {
    margin: 25px;
  }
  .popular__tittle {
    padding: 5px;
    font-size: 1rem;
  }
  .popular__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popular {
    width: 90%;
    max-width: 330px;
  }
  .modal {
    padding: 5px 10px;
    text-align: center;
    font-size: 0.8rem;
  }

  /* Footer */
  .footer__cards {
    gap: 10px;
  }
  .toUp {
    bottom: 15px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
